<!DOCTYPE html>
<html>
<head>
    <title>AZBEEF - Boxed Beef Program</title>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    
</head>
<body style="margin: 0; padding: 0;  background-image: linear-gradient(to top, #D5EEB3, #D5EEB3, #FFFFFF); font-family: sans-serif;">
    <p style="text-align: center; margin: 10px;">Having trouble viewing this email? <a href="%%webversion%%">View it in your browser.</a></p>
    <table cellpadding="0" cellspacing="0" align="center" style="width: 800px; border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="text-align: center;" colspan="3" width="100%">&nbsp;<img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/header.png" width="150" height="150" alt="header.png" title="header.png" /></td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 20px; color: black; font-size: 32px; font-weight: 600;" colspan="3" width="100%">INTRODUCING <br /> OUR <span style="color: #00b051;">BOXED BEEF</span> PROGRAM</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 20px; color: black; font-size: 22px; font-weight: 600;" colspan="3" width="100%">NO SUBSCRIPTION REQUIRED</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 10px; color: black; font-size: 18px; font-weight: 300;" colspan="3" width="100%">CLICK THE LINK BELOW:</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 10px; color: black; font-size: 18px; font-weight: 300;" colspan="3" width="100%"><a href="https://azgrassraisedbeef.com">AZGRASSRAISEDBEEF.COM</a></td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 20px; color: black; font-size: 22px; font-weight: 600;" colspan="3" width="100%">OUR RANCHES &rarr; OUR HARVESTING PLANT &rarr; YOUR HOME</td>
            </tr>
            <tr>
                <td style="text-align: center;" width="33%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/img01.jpg" width="250" height="250" alt="img01.jpg" title="img01.jpg" /></td>
                <td style="text-align: center;" width="34%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/img02.jpg" width="250" height="250" alt="img02.jpg" title="img02.jpg" /></td>
                <td style="text-align: center;" width="33%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/img03.jpg" width="250" height="250" alt="img03.jpg" title="img03.jpg" /></td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 20px; color: black; font-size: 22px; font-weight: 600;" colspan="3" width="100%">100% GRASS FED - 100% GRASS FINISHED</td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" align="center" style="width: 100%; border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="text-align: center; padding: 10px; background-color: #404040; color: black; font-size: 22px; font-weight: 600;" colspan="3" width="100%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/praise01.png" width="190" height="43" alt="praise01.png" title="praise01.png" /></td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" align="center" style="width: 100%; border-collapse: collapse;">
        <tbody>
            <tr>
                <td colspan="6" style="background-color: #D3E7EF; text-align: center; padding: 5px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #D3E7EF; text-align: center;" width="20%">&nbsp;</td>
                <td style="background-color: #D3E7EF; text-align: center;" width="15%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/no-antibiotics.png" width="130" height="139" alt="no-antibiotics.png" title="no-antibiotics.png" /></td>
                <td style="background-color: #D3E7EF; text-align: center;" width="15%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/no-feedlot.png" width="92" height="143" alt="no-feedlot.png" title="no-feedlot.png" /></td>
                <td style="background-color: #D3E7EF; text-align: center;" width="15%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/no-grain.png" width="92" height="139" alt="no-grain.png" title="no-grain.png" /></td>
                <td style="background-color: #D3E7EF; text-align: center;" width="15%"><img src="https://azgrass.corcrm.com/sites/azbeef/temp/newsletters/2/no-added-hormones.png" width="117" height="139" alt="no-added-hormones.png" title="no-added-hormones.png" /></td>
                <td style="background-color: #D3E7EF; text-align: center;" width="20%">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6" style="background-color: #D3E7EF; text-align: center; padding: 20px;">This email was sent to %%emailaddress%%. <a href="%%unsubscribelink%%">click here to unsubscribe.</a><br /><br /> <b>Arizona Grass Raised Beef</b><br /><b>COPYRIGHT 2019. Arizona Grass Raised Beef. ALL RIGHTS RESERVED.</b></td>
            </tr>
        </tbody>
    </table>
</body>
</html>