 
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .header {
    display: block;
    background-color: blue;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .logoStrip {
    text-align: left;
    display: block;
    height: 1.5em;
    font-size: 2em;
    background-color: #ECECEC;
    border-bottom: 2px solid #616161;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
  }

  .navLink {
    float: left;
    margin: 10px 0 10px 20px;
    color: #616161;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .navLink:hover {
    color: black;
    border-bottom: 1px solid black;
    transition: 0.3s ease-in-out;
  }
  
  .navLink2 {
    float: right;
    margin: 10px 20px;
    color: #616161;
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .navLink2:hover {
    color: black;
    border-bottom: 1px solid black;
    transition: 0.3s ease-in-out;
  }
  
  .ordersContainer {
    display: block;
    margin-top: 50px;
  }
  
  tr {
    max-height: 30px;
    height: 30px;
  }

  .orders {
    table-layout: auto;
    margin: 0 25px;
    border-collapse: collapse;
  }
  
  .orders th,
  .orders td {
    border: 2px solid lightgray;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  td, th {
    white-space: nowrap;
  }

  .ordersGrid {
    display: block;
  }
  
  .newCustomerContainer {
    display: block;
    margin-top: 50px;
    margin-left: 25px;
    text-align: left;
  }
  
  .newCustomerContainer input {
    display: block;
  }

  .ampersand {
      font-size: 26px;
      position: relative;
      bottom: 2px;
      margin-left: 4px;
      margin-right: 2px;
  }

  .words {
    position: relative;
    top: 4px;
    left: 60px;
    color: #616161; 
    font-weight: 600;
  }
  
  .greenBoy {
    font-weight: 400;
    margin-right: 30px;
  }

  .logoSmall {
      position: absolute;
      left: 10px;
      top: 7px;
      width: 50px;
  }

  .cutWords {
      color: #CCFF00;
      text-shadow:
      -1px -1px 0 #616161,
      1px -1px 0 #616161,
      -1px 1px 0 #616161,
      1px 1px 0 #616161;
  }

  .trimWords {
      color: #71D400;
      text-shadow:
      -1px -1px 0 #616161,
      1px -1px 0 #616161,
      -1px 1px 0 #616161,
      1px 1px 0 #616161;
  }

  .crmWords {
      font-size: 20px;
      position: relative;
      bottom: 5px;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  


  #pageTitle {
    display: none;
    position: absolute;
    left: 0;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    line-height: 25px;

  }

  .customer {
    margin: 10px;
    position: relative;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .customer h3 {
    margin: 10px 0;
    font-size: 1.5em;
  }

  .customer button {
    display: block;
    margin: 10px 0;
    font-size: 15px;
    background-color: #4CAF50;
    color: snow;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
  }

  .customer button:active {
    outline: none;
  }

  .customer table,
  .customer th,
  .customer td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
  }

  .customer th {
    background-color: #E1E1E1;
  }

  .customer th,
  .customer td {
    padding: 10px;
    font-size: 13px;
  }


/* BEGIN FANCY INPUTS */
/* BEGIN FANCY INPUTS */
/* BEGIN FANCY INPUTS */
/* BEGIN FANCY INPUTS */
/* BEGIN FANCY INPUTS */
/* BEGIN FANCY INPUTS */

body {
  font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
}


form {
  margin: 0;
}
/**
* Make the field a flex-container, reverse the order so label is on top.
*/
 
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input, select {
  transition: all 0.2s;
  touch-action: manipulation;
}

input, select {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  margin-bottom: 1px;
}

select {
  cursor: pointer;
}

.field input:focus,
.field select:focus {
  outline: 0;
  border-bottom: 1px solid #666;
  background-color: lightyellow;
}

select {
  outline: none;
  background-color: rgba(0,0,0,0);
}

select:active,
select:focus {
  border-bottom: 1px solid #666;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  font-size: 0.7em;
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.4rem) scale(1.5);
}

label {
  font-size: 0.7em !important;
}

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  transition: 0.2s ease-in-out;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label,
select + label {
  transform: translate(0, 0) scale(1);
  color: #8C8C8C;
}

.hiddenIcon {
  opacity: 0;
}

.hiddenIcon:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.visible:hover {
  opacity: 0;
}

.gridAction {
  position: relative;
  width: 50px;
  transition: 0.3s ease-in-out;
}

.gridAction img {
  width: 20px;
  cursor: pointer;
}

.gridAction .actionEdit {
  position: absolute;
  bottom: -11px;
  left: 1px;
}

.gridAction .actionDelete {
  position: absolute;
  bottom: -11px;
  left: 30px;
}

.grid {
  width: 100%;
  overflow-x: scroll;
}

.gridTable {
  min-width: 100%;
}

.searchResults {
  border: 1px solid #BDBDBD;
  display: inline-block;
  width: calc(50% - 17px);
  background-color: #F0F0F0;
  position: absolute;
  top: 100px;
  z-index: 1 !important;
}

.customerSearchResult {
  padding: 5px;
  cursor: pointer;
}

.customerSearchResult:hover,
.customerSearchResult:active {
  background-color: #E1E1E1;
}

.customerSearchResultActive {
  background-color: #E1E1E1;
  transition: 0.2s ease-in-out;
  padding: 5px;
  cursor: pointer;
}

.customerSearchResult:not(:first-child) {
  padding-top: 5px;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

.customerSearchContainer {
  position: relative;
}

.noData {
  display: table-row;
}

.dataIsAvailable {
  display: none;
}

@-o-keyframes fadeIt {
  0%   { background-color: #737373; }
  50%  { background-color: #545454; }
  100% { background-color: #333; }
}
@keyframes fadeIt {
  0%   { background-color: #737373; }
  50%  { background-color: #545454; }
  100% { background-color: #333; }
}

.backgroundAnimated{    
    background-image:none !important; 
         -o-animation: fadeIt 0.2s ease-out; 
            animation: fadeIt 0.2s ease-out; 
}

/* BEGIN DROPDOWN NAVIGATION BAR CSS */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav button.icon {
    float: right;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  } 

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .topnav.responsive .dropdown-content a {
    border-bottom: 1px solid #C8C8C8;
    padding-left: 10px;
  }
  .topnav.responsive .dropdown-content {
    border-bottom: 1px solid #555;
  }
  .topnav.responsive .dropdown-content a::before {
    content: "• ";
  }
}

.icon {
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  outline: none;
}

.notFound {
  display: block;
}

.found {
  display: none;
}

.errorMessage {
  color: red;
  font-size: 13px;
  font-weight: 600;
  margin-top: -17px;
  margin-bottom: -1px;
  padding: 0;
}

.formValidate {
  border-bottom: 1px solid red !important;
}

.customer textarea {
  resize: none;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 10px;
}

/* REPSONSIVE FORM */

.formSubHeader {
  color: #505050;
  margin: 0;
  margin-bottom: -3px;
  margin-top: 10px;
}

.responsiveFormContainer {
  display: flex;
  flex-direction: row;

}

.responsiveFormContainer input,
.responsiveFormContainer select {
  background-color: rgba(0,0,0,0);
}

.responsiveForm {
  min-width: calc(50% - 5px);

}

.responsiveForm:not(:first-child) {
  margin-left: 5px;
}

.responsiveForm:first-child {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .responsiveFormContainer {
    flex-direction: column;
  }

  .responsiveForm {
    min-width: 100%;
    margin: 0;
  }

  .responsiveForm:not(:first-child) {
    margin-left: 0px;
  }

  .responsiveButton {
    width: 100%;
    height: 60px;
    font-size: 20px !important;
  }

  .searchResults {
    border: 1px solid #BDBDBD;
    display: inline-block;
    width: calc(100% - 22px);
    background-color: #F0F0F0;
    position: absolute;
    top: 100px;
    z-index: 1 !important;
  }
}

.paginationContainer {
  display: block;
  margin-bottom: 65px;
}

.paginationContainer label {
  color: #3E3E3E;
}

.numberPerPageContainer {
  float: left;
}

.pageNumberContainer {
  float: right;
  text-align: right;
}

.paginate {
  display: inline-block;
  padding: 5px 8px;
  font-size: 13px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.paginate:hover {
  color: #368BD7 !important;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

.paginateActive:hover {
  color: #000000 !important;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

#paginateBackArrow {
  margin-right: -5px;
}

#paginateForwardArrow {
  margin-left: -5px;
}

#paginateBackArrow,
#paginateForwardArrow {
  display: inline-block;
  padding: 4px 6px;
  margin-top: 3px;
  font-size: 13px;
  cursor: pointer;
  color: #3B3B3B;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#paginateBackArrow:hover,
#paginateForwardArrow:hover {
  color: #368BD7 !important;
  transition: 0.5s ease-in-out;
  background-color: #DBDBDB;
  border-radius: 50%;
  text-decoration: none;
}

.paginateActive {
  background-color: #DBDBDB;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.paginatedotdotdot {
  display: inline-block;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: -1px;
}

.pageNumberIncrement {
  display: inline-block;
}

.helperGrid {
  display: none;
}

